Flask==1.1.2
Flask-Bootstrap==3.3.7.1
gunicorn==20.0.4
h5py==2.10.0
html5lib==1.0.1
Jinja2==2.11.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.0.1
matplotlib==2.2.2
nltk==3.4.5
numpy==1.18.3
pandas==0.23.0
praw==6.5.1
scikit-image==0.13.1
scikit-learn==0.22.2.post1
scikit-optimize==0.5.2
scipy==1.4.1
sklearn==0.0
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
virtualenv==16.3.0
Click==7.0
itsdangerous==1.1.0
MarkupSafe==1.1.1
Werkzeug==0.15.6